.App{
       
        border: 2px solid rgba(30, 177, 222, 0.947);
        max-width: 1540px;
        margin: 0 auto;
        width: 100%;
        overflow-y: scroll;
        scroll-behavior: smooth;
       
      
}